@import url(https://fonts.googleapis.com/css?family=Roboto);



html,
body {
    height: 100%;
    background: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* BARRA NAV */
.top-nav {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: black;
    color: #FFF;
    text-decoration: none;
}

/* MENU HAMBURGUER */
.menu,
a {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffff;
    text-decoration: none;
    font-size: 1.4rem;
}

.menu1:hover,
.menu2:hover,
.menu3:hover,
.menu4:hover {
    color: #E85910;
}

.menu5 {
    color: transparent;
    display: none;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #E85910;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgb(255, 255, 255, );
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.imglocal {
    width: 100%;
    height: 150%;
    padding: 0;
    margin: 0;
    object-position: 50% 50%;
    background-image: url(/img/local.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 70px solid black;
}

.logo {
    width: 20vh;
    transform: translate(-50%, 21%);
}

.logoredonda {
    max-width: 180px;
    transform: translate(300%, 50%);
}

#sobre {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 100px;
    text-align: center;
    display: flex;
    position: relative;

}

/* fotos proprietarios */

#propietarios {
    transform: translate(3%, 1%);
    height: 550px;
    width: 450px;
    background: url(/img/propietarios.jpg) no-repeat;
    border-radius: 40px;
    position: relative;

}

#retanguloprop {
    transform: translate(7%, 5%);
    height: 550px;
    width: 450px;
    border-radius: 50px;
    border: 3px solid #E85910;
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
}

ol {
    list-style: none;

}

li p {
    font-size: 1.2vh;
    color: rgb(255, 255, 255);
    padding: 0 30px 0 35px;
    line-height: 2px;

}

.historia {
    font-size: 25px;
    line-height: 42px;
    text-align: center;

}

#nossaHistoria {
    font-family: 'roboto';
    color: #ffffff;
    font-size: 7.5vw;
    margin: 0 !important;
    text-align: center;
}

/* footer */
#banner {
    height: 25px;
    display: flex;
    color: #ffff;
    margin-top: 10px;
    transform: translate(32%, -1%);
    text-decoration: none;
    justify-content: space-around;
    max-width: 40%;
    margin: auto;
}


.topedindo {
    transform: translateX(-170%);
    margin-top: 55px;
}

.footertxt {
    transform: translateX(-210%);
    font-size: smaller;
    margin-top: 85px;
}

/*scrollbar*/
body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #E85910;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 255, 255);
    /* creates padding around scroll thumb */
}


@media (max-width: 768px) {

    body {
        overflow: hidden;
    }

    .top-nav {
        height: 70px;
    }


    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: -40px;
        padding-left: 90px;
        transition: transform 0.5s ease-in-out;
        z-index: 2;
        opacity: 85%;

    }

    .menu5 {
        color: #000000;
        display: flex;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        height: 7em;
        line-height: 100px;
        text-align: center;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {

        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    a {
        color: rgb(0, 0, 0);
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .topedindo {
        margin: auto;
        transform: translateX(-69%);
    }

    .footertxt {
        display: none;
    }

    .midias {
        display: none;
    }

    /* SOBRE-----pagina NOSSA_HISTÓRIA */
    .logo {
        cursor: ne-resize;
        opacity: 0.1%;
    }

    .sobre {
        margin-top: 80px;
        float: left;
        margin: bottom 0;
        font-size: 10px;
    }

    #propietarios {
        background-size: cover;
        max-width: 240px;
        max-height: 300px;
        transform: translate(-23%, 10%);
    }

    #retanguloprop {
        width: 250px;
        height: 310px;
        transform: translate(-18%, 15%);
    }

    #nossaHistoria {
        transform: translate(-160%, -95%);
        text-align: center;
        line-height: normal;
        font-size: 45px;
    }

    .historia {
        padding: 0;
        margin: 0;
        height: 900px;
        font-size: 20px;
        word-break:break-all;
        transform: translate(-200%, 5%);
        text-align: center;
        line-height: normal;
        

    }
}