@import url(https://fonts.googleapis.com/css?family=Roboto);



html,
body {
    height: 100%;
    background: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* BARRA NAV */
.top-nav {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: black;
    color: #FFF;
    text-decoration: none;
}

/* MENU HAMBURGUER */
.menu,
a {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffff;
    text-decoration: none;
    font-size: 1.4rem;
}

.menu1:hover,
.menu2:hover,
.menu3:hover,
.menu4:hover {
    color: #E85910;
}

.menu5 {
    color: transparent;
    display: none;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #E85910;
    position: absolute;
    height: 3px;
    width: 35px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    right: 25px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
    left: 1px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
    left: 1px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgb(255, 255, 255, );
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}



.logo {
    width: 20vh;
    transform: translate(-50%, 32%);
}

.map1 {
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    transform: translate(90%, -5%);
    display: inline-block;

}

.map2 {
    padding-left: 10%;
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    transform: translate(60%, -5%);
    display: inline-block;
    align-content: center;

}

.imgmap1 {
    max-width: 310px;
}

.imgmap2 {
    max-width: 310px;
}

.unidades {
    color: #ffffff;
    font-size: 4vw;
    text-align: center;
}

h3 {
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
}

/* footer */
#banner {
    height: 25px;
    display: flex;
    color: #ffff;
    margin-top: 5px;
    transform: translate(30%, -1%);
    text-decoration: none;
    justify-content: space-around;
    max-width: 40%;
    margin: auto;
}


.topedindo {
    transform: translateX(-180%);
    margin-top: 55px;
}

.footertxt {
    transform: translateX(-215%);
    font-size: smaller;
    margin-top: 85px;
}

/*scrollbar*/
body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #E85910;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 255, 255);
    /* creates padding around scroll thumb */
}




@media (min-width: 320px) and (max-width: 800px){


    .logo {
        cursor: ne-resize;
        opacity: 0.1%;
    }

    .logoredonda {
        display: none;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: -40px;
        padding-left: 90px;
        transition: transform 0.5s ease-in-out;
        z-index: 2;
        opacity: 95%;

    }

    .menu5 {
        color: #000000;
        display: flex;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        height: 3.9em;
        width: 90em;
        line-height: 70px;
        text-align: center;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {

        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    a {
        color: rgb(0, 0, 0);
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .unidades {
        color: #ffffff;
        font-size: 2.5rem;
        text-align: center;
        margin: auto;

    }

    .imgmap1 {
        max-width: 210px;
        transform: translate(-40%, 1%);
    }

    .imgmap2 {
        max-width: 210px;
        transform: translate(-42%, -1%);
    }

    .text-map-1 {
        font-size: 1.3rem;
        transform: translate(-40%, 50%);
    }

    .text-map-2 {
        font-size: 1.3rem;
        transform: translate(-40%, 50%);
    }

    h3 {
        display: none;
    }

    .topedindo {
        display: none;
    }

    .footertxt {
        display: none;
    }

    .midias {
        display: none;
    }
}
@media (min-width: 1380px) and (max-width:1920px)
{
    .imgmap1 {
        max-width: 410px;
        transform: translate(10%, 1%);
    }

    .imgmap2 {
        max-width: 410px;
        transform: translate(50%, -1%);
    }

    .text-map-1 {
        font-size: 1.5rem;
        transform: translate(10%, 50%);
    }

    .text-map-2 {
        font-size: 1.5rem;
        transform: translate(50%, 50%);
    }   
    .topedindo{
        transform: translate(-250%,10%);
    }
    .footertxt{
        transform: translate(-290%,50%);
    }
}