@import url(https://fonts.googleapis.com/css?family=Roboto);



html,
body {
    height: 100%;
    background: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* BARRA NAV */
.top-nav {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: black;
    color: #FFF;
    text-decoration: none;
}

/* MENU HAMBURGUER */
.menu,
a {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffff;
    text-decoration: none;
    font-size: 1.4rem;
}

.menu1 {
    color: #E85910;
}

.menu1:hover {
    color: #ffffff;
}


.menu2:hover,
.menu3:hover,
.menu4:hover,
.menu5:hover {
    color: #E85910;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #E85910;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgb(255, 255, 255, );
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.imglocal {
    width: 100%;
    height: 150%;
    padding: 0;
    margin: 0;
    object-position: 50% 50%;
    background-image: url(/img/local.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 50px solid black;
}

.logo {
    width: 20vh;
    transform: translate(-50%, 21%);
}

.logoredonda {
    max-width: 180px;
    transform: translate(300%, 50%);
}

/* BOTOES */

.container {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    box-sizing: border-box;
    background: #000000;
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    flex: 1 1 150px;
    text-indent:25px;
    display: flex;
    margin: 10px 50px;
    padding: 10px;
    max-width: 230px;
    line-height: 45px;
    transform: translate(1%, 550%);
    position: relative;
    cursor: pointer;
}

.btn:hover {
    background: #be3803;
    color: #000000;
}

.btn:active {
    background: #365c1b;
}

/* footer */
#banner {
    height: 25px;
    display: flex;
    flex-direction: row;
    color: #ffff;
    margin-top: 30px;
    transform: translate(45%, -250%);
    text-decoration: none;
}

.topedindo {
    height: 10px;
    margin-left: -150px;
    margin-top: 25px;
}

.footertxt {
    margin-left: -170px;
    margin-top: 79px;
}

/*scrollbar*/
body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #E85910;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 255, 255);
    /* creates padding around scroll thumb */
}


/* SOBRE---- PAGINA NOSSA HISTORIA */

#sobre {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 100px;
    text-align: center;
    display: flex;
    position: relative;

}

/* fotos proprietarios */

#propietarios {
    transform: translate(3%, -12%);
    height: 550px;
    width: 450px;
    filter: drop-shadow(9px 10px 4px rgba(0, 0, 0, 0.25));
    background: url(/img/propietarios.jpg) no-repeat;
    border-radius: 40px;
    position: relative;

}

#retanguloprop {
    transform: translate(7%, -8%);
    height: 550px;
    width: 450px;
    border-radius: 50px;
    border: 4px solid #E85910;
    box-shadow: 9px 10px 4px 0px #00000040;
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
}

ol {
    list-style: none;

}

li p {
    font-size: 1.2vh;
    color: rgb(255, 255, 255);
    padding: 0 30px 0 35px;
    line-height: 2px;

}

.historia {
    font-size: 25px;
    line-height: 42px;
    text-align: center;

}

#nossaHistoria {
    color: #ffffff;
    font-size: 5vw;
    margin: 0 !important;
    text-align: center;
}

/* INFO_SECTION CSS----PAGINA DESTAQUES*/

.infoSection {
    padding: 80px;
    height: 780px;
    position: relative;
}

.infoCards {

    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0 40px 0;
    position: relative;
}

.cardone {

    position: relative;
    Width: 350px;
    Height: 380px;
    background-image: url(/img/fmignon4.png);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
    border-radius: 50px;

}

.retangulolocalone {
    transform: translate(120%, 7%);
    Width: 350px;
    Height: 380px;
    border-radius: 50px;
    border: 4px solid #E85910;
    filter: drop-shadow(9px 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
}

.cardtwo {

    position: relative;
    Width: 350px;
    Height: 380px;
    background-image: url(/img/alcatra.png);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
    border-radius: 50px;


}

.retangulolocaltwo {
    transform: translate(7%, 7%);
    Width: 350px;
    Height: 380px;
    border-radius: 50px;
    border: 4px solid #E85910;
    filter: drop-shadow(9px 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
}

.cardthree {
    position: relative;
    Width: 350px;
    Height: 380px;
    background-image: url(/img/costela.png);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
    border-radius: 50px;


}

.retangulolocalthree {
    transform: translate(-107%, 7%);
    Width: 350px;
    Height: 380px;
    border-radius: 50px;
    border: 4px solid #E85910;
    filter: drop-shadow(9px 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
}

#destaques {
    color: #FFF;
    font-size: 5vw;
    margin: 0 !important;
    text-align: center;
}

.txtdestaque {
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    transform: translate(7%, 385px);

}

/* FIM DESTAQUES */


@media (max-width: 768px) {
  

    .btn {

        position: relative;
        display: inline;
        vertical-align: auto;
        margin: 56px;
        text-indent: 40px;
        max-width: 250px;
        transform: translate(6%, 0%);
    }

    .top-nav {
        height: 70px;
    }

    .logo {
        width: 25vh;
        transform: translate(20%, 900%);
    }

    .logoredonda {
        display: none;
    }

    .imglocal {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        object-fit: cover;
        object-position: 50% 50%;
        border: 0;

    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 70px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: -40px;
        padding-left: 90px;
        transition: transform 0.5s ease-in-out;
        z-index: 2;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        height: 7em;
        line-height: 100px;
        text-align: center;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {

        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    a {
        color: rgb(0, 0, 0);
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    /* footer  */
    #banner {
        background-color: #000000;
    }

    .topedindo {
        transform: translate(80%, -1795%);
    }

    /* SOBRE-----pagina NOSSA_HISTÓRIA */

    .sobre {
        margin-top: 80px;
        float: left;
        margin: bottom 0;
        font-size: 10px;
    }

    #propietarios {
        background-size: cover;
        max-width: 340px;
        max-height: 460px;
        transform: translate(-23%, 10%);
    }

    #retanguloprop {
        width: 340px;
        height: 460px;
        transform: translate(-18%, 15%);
    }

    #nossaHistoria {
        transform: translate(-160%, -95%);
        text-align: center;
        line-height: normal;
        font-size: 45px;
    }

    .historia {
        padding: 0;
        margin: 0;
        height: 900px;
        font-size: 25px;
        transform: translate(-155%, 50%);
        text-align: center;
        line-height: normal;

    }
}